html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}
body{
    font-family: 'Roboto', sans-serif;
}
.top-nav-collapse {
  background-color: #1C2331!important;
}

.navbar:not(.top-nav-collapse) {
  background:  #1C2331 !important;
}
nav.navbar a.nav-link{
    color:#1a237e;
}
i.fb{
    color: #3b5998;
    padding: 10px;
    background-color: #fff;

}
footer li{
    font-size: 17px;
    font-weight: 400;
}
.google-maps {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
h5.about{
    text-align: justify;
}
p.about{
    text-align: left;
}
p.abouts{
    text-align: justify;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331 !important;
  }
}

.rgba-gradient {
          background: -webkit-linear-gradient(45deg, rgba(62, 69, 81, 0.2), rgba(255, 255, 255, 0.4) 100%);
          background: -webkit-gradient(linear, 45deg, from(rgba(62, 69, 81, 0.2), rgba(255, 255, 255, 0.4) 100%)));
          background: linear-gradient(to 45deg, rgba(62, 69, 81, 0.2), rgba(255, 255, 255, 0.4)  100%);
}
@media screen and (max-width: 990px) and (min-width: 20px) {
    h5.about{
        text-align: left;
    } 
    p.about{
        text-align: left;
    }
    p.abouts{
        text-align: left;
    }
}