html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #1C2331!important;
}

.navbar:not(.top-nav-collapse) {
  background:  #1C2331 !important;
}
nav.navbar a.nav-link{
    color:#1a237e;
}
i.fb{
    color: #3b5998;
    padding: 10px;
    background-color: #fff;

}
footer li{
    font-size: 17px;
    font-weight: 400;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331 !important;
  }
}

.rgba-gradient {
          background: -webkit-linear-gradient(45deg, rgba(62, 69, 81, 0.2), rgba(255, 255, 255, 0.4) 100%);
          background: -webkit-gradient(linear, 45deg, from(rgba(62, 69, 81, 0.2), rgba(255, 255, 255, 0.4) 100%)));
          background: linear-gradient(to 45deg, rgba(62, 69, 81, 0.2), rgba(255, 255, 255, 0.4)  100%);
}