html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

.top-nav-collapse {
  background-color: #1C2331 !important;
}

.navbar:not(.top-nav-collapse) {
  background: #1C2331 !important;
}

i.fb{
    color: #3b5998;
    padding: 10px;
    background-color: #fff;

}
i.twi{
     background-color: #38A1F3;
    padding: 10px;
    color: #fff;
}
i.ins{
    color: #fff;
    padding: 10px;
}
i.lnk{
    background-color: #0077B5;
    color: #fff;
    padding: 10px;
}
@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331 !important;
  }
}

.rgba-gradient {
    background: -webkit-linear-gradient(45deg, rgba(62, 69, 81, 0.2), rgba(255, 255, 255, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(62, 69, 81, 0.2), rgba(255, 255, 255, 0.4) 100%)));
    background: linear-gradient(to 45deg, rgba(62, 69, 81, 0.2), rgba(255, 255, 255, 0.4)  100%);
}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
  color: #ffffff;
}

h6 {
  line-height: 1.7;
}
