
html,
body,
.view {
  height: 100%; }


.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }
div.card-header h4{
    color: #ff9100 ;
}
div.accordion div.card{
    background-color: transparent;
}
a.btn{
    background-color:#ff9800 ;
}
form.form-inline input,textarea{
    margin-top: 20px;
}
div.owl-prev{
    background-color: #ff9800;
}
div.card {
    margin-bottom: 20px;
}
footer li{
    font-size: 17px;
    font-weight: 400;
}
h1.bg{
    font-size: 70px;
}
i.fba{
    color:#fff ;
    padding: 10px;
    background-color: #3b5998;

}
i.twi{
     background-color: #38A1F3;
    padding: 10px;
    color: #fff;
}
i.ins{
    background-color: #0077B5;
    color: #fff;
    padding: 10px;
}
h5.bg{
    font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

.page-footer {
  background-color: #1C2331; }
@media screen and (max-width: 990px) and (min-width: 20px) {
    h5.bg{
    font-size: 20px;
}  
    h1.bg{
    font-size: 50px;
}
}
